<section id="movies">
  <h4>Recommended for you</h4>
  <div class="moviesContent">
    <div class="movie">
      <img
        src="https://img1.hotstarext.com/image/upload/f_auto,t_web_hs_3x/sources/r1/cms/prod/4280/674280-h"
        alt=""
      />
    </div>
    <div class="movie">
      <img
        src="	https://img1.hotstarext.com/image/upload/f_auto,t_web_hs_3x/sources/r1/cms/prod/5610/675610-h"
        alt=""
      />
    </div>
    <div class="movie">
      <img
        src="https://img1.hotstarext.com/image/upload/f_auto,t_web_hs_1_5x/sources/r1/cms/prod/9478/589478-h"
        alt=""
      />
    </div>
    <div class="movie">
      <img
        src="https://img1.hotstarext.com/image/upload/f_auto,t_web_hs_3x/sources/r1/cms/prod/1124/651124-h"
        alt=""
      />
    </div>
    <div class="movie">
      <img
        src="https://img1.hotstarext.com/image/upload/f_auto,t_web_hs_3x/sources/r1/cms/prod/1681/1011681-h-ac6ee255f074"
        alt=""
      />
    </div>
    <div class="movie">
      <img
        src="https://img1.hotstarext.com/image/upload/f_auto,t_web_hs_3x/sources/r1/cms/prod/5932/935932-h"
        alt=""
      />
    </div>
  </div>
</section>
