<section id="musicPage" class="hidden">
  <h4>Music</h4>
  <div class="moviesContent">
    <div class="movie">
      <img
        src="https://img1.hotstarext.com/image/upload/f_auto,t_web_hs_3x/sources/r1/cms/prod/4298/674298-h"
        alt=""
      />
    </div>
    <div class="movie">
      <img
        src="https://img1.hotstarext.com/image/upload/f_auto,t_web_hs_1_5x/sources/r1/cms/prod/5615/675615-h"
        alt=""
      />
    </div>
    <div class="movie">
      <img
        src="https://img1.hotstarext.com/image/upload/f_auto,t_web_hs_1_5x/sources/r1/cms/prod/5535/675535-h"
        alt=""
      />
    </div>
    <div class="movie">
      <img
        src="https://img1.hotstarext.com/image/upload/f_auto,t_web_hs_1_5x/sources/r1/cms/prod/5515/675515-h"
        alt=""
      />
    </div>
    <div class="movie">
      <img
        src="https://img1.hotstarext.com/image/upload/f_auto,t_web_hs_3x/sources/r1/cms/prod/4311/674311-h"
        alt=""
      />
    </div>
    <div class="movie">
      <img
        src="https://img1.hotstarext.com/image/upload/f_auto,t_web_hs_1_5x/sources/r1/cms/prod/4309/674309-h"
        alt=""
      />
    </div>
  </div>
</section>
