<section id="showsPage" class="hidden">
  <h4>Shows</h4>
  <div class="moviesContent">
    <div class="movie">
      <img
        src="https://img1.hotstarext.com/image/upload/f_auto,t_web_hs_3x/sources/r1/cms/prod/old_images/MOVIE/3257/1770003257/1770003257-h"
        alt=""
      />
    </div>
    <div class="movie">
      <img
        src="https://img1.hotstarext.com/image/upload/f_auto,t_web_hs_3x/sources/r1/cms/prod/4416/674416-h"
        alt=""
      />
    </div>
    <div class="movie">
      <img
        src="https://img1.hotstarext.com/image/upload/f_auto,t_web_hs_1_5x/sources/r1/cms/prod/4619/674619-h"
        alt=""
      />
    </div>
    <div class="movie">
      <img
        src="https://img1.hotstarext.com/image/upload/f_auto,t_web_hs_1_5x/sources/r1/cms/prod/4524/674524-h"
        alt=""
      />
    </div>
    <div class="movie">
      <img
        src="https://img1.hotstarext.com/image/upload/f_auto,t_web_hs_1_5x/sources/r1/cms/prod/4570/674570-h"
        alt=""
      />
    </div>
    <div class="movie">
      <img
        src="https://img1.hotstarext.com/image/upload/f_auto,t_web_hs_1_5x/sources/r1/cms/prod/4595/674595-h"
        alt=""
      />
    </div>
  </div>
</section>
