<section id="specialPage" class="hidden">
  <h4>Special</h4>
  <div class="moviesContent">
    <div class="movie">
      <img
        src="https://img1.hotstarext.com/image/upload/f_auto,t_web_hs_1_5x/sources/r1/cms/prod/5543/675543-h"
        alt=""
      />
    </div>
    <div class="movie">
      <img
        src="https://img1.hotstarext.com/image/upload/f_auto,t_web_hs_1_5x/sources/r1/cms/prod/7756/757756-h"
        alt=""
      />
    </div>
    <div class="movie">
      <img
        src="https://img1.hotstarext.com/image/upload/f_auto,t_web_hs_1_5x/sources/r1/cms/prod/4818/934818-h"
        alt=""
      />
    </div>
    <div class="movie">
      <img
        src="https://img1.hotstarext.com/image/upload/f_auto,t_web_hs_1_5x/sources/r1/cms/prod/old_images/MOVIE/5391/1770015391/1770015391-h"
        alt=""
      />
    </div>
    <div class="movie">
      <img
        src="https://img1.hotstarext.com/image/upload/f_auto,t_web_hs_1_5x/sources/r1/cms/prod/7456/267456-h"
        alt=""
      />
    </div>
    <div class="movie">
      <img
        src="https://img1.hotstarext.com/image/upload/f_auto,t_web_hs_1_5x/sources/r1/cms/prod/1124/651124-h"
        alt=""
      />
    </div>
  </div>
</section>
