/* <===== root =====> */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: url("/images/home-background.png");
  background: url("/images/home-background.png") center center / cover no-repeat
    fixed;
  color: white;
}

.hidden {
  display: none;
}

/* <===== navigation bar =====> */

#navigation-bar img {
  width: 200px;
  height: 50%;
}

.nav-item {
  padding-left: 20px;
}

/* <===== slider =====> */

#slider {
  box-shadow: rgb(0 0 0 / 69%) 0px 26px 30px -10px,
    rgb(0 0 0 / 73%) 0px 16px 10px -10px;
  margin: 20px 20px;
}

#slider img {
  border-radius: 7px;
  overflow: hidden;
  border: 4px solid transparent;
  transition: all 300ms;
  cursor: pointer;
}

#slider img:hover {
  border: 4px solid rgba(249, 249, 249, 0.8);
}

/* <===== viewer =====> */

#viewer {
  margin-top: 30px;
  display: grid;
  padding: 30px 10px 26px;
  grid-gap: 25px;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

#viewer .item {
  border-radius: 10px;
  cursor: pointer;
  border: 3px solid rgba(249, 249, 249, 0.1);
  box-shadow: rgb(0 0 0 / 69%) 0px 26px 30px -10px,
    rgb(0 0 0 / 73%) 0px 16px 10px -10px;
  transition: all 250s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}

#viewer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#viewer img:hover {
  box-shadow: rgb(0 0 0 / 85%) 0px 40px 58px -16px,
    rgb(0 0 0 / 72%) 0px 30px 22px -10px;
  transition: scale(1.05);
  border: 3px solid rgba(249, 249, 249, 0.8);
}

/* <===== movies =====> */

#movies {
  padding: 0 20px;
  margin-bottom: 30px;
}
#movies h4 {
  font-size: small;
  margin-bottom: 20px;
}

.moviesContent {
  display: grid;
  grid-gap: 25px;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.movie {
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
  border: 3px solid rgba(249, 249, 249, 0.1);
  box-shadow: rgb(0 0 0 / 69%) 0px 26px 30px -10px,
    rgb(0 0 0 / 73%) 0px 16px 10px -10px;
  transition: all 250s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}

.movie img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.movie img:hover {
  border: 3px solid rgba(249, 249, 249, 0.8);
  box-shadow: rgb(0 0 0 / 85%) 0px 40px 58px -16px,
    rgb(0 0 0 / 72%) 0px 30px 22px -10px;
}

@media screen and (min-width: 768px) {
  .moviesContent {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
  #movies h4 {
    font-size: large;
  }
}

/* <===== specialPage =====> */

#specialPage {
  padding: 0 20px;
  margin-bottom: 30px;
}
#showsPage {
  padding: 0 20px;
  margin-bottom: 30px;
}
#musicPage {
  padding: 0 20px;
  margin-bottom: 30px;
}

#specialPage h4,
#showsPage h4,
#musicPage h4 {
  font-size: small;
}

@media screen and (min-width: 768px) {
  #specialPage h4,
  #showsPage h4,
  #musicPage h4 {
    font-size: large;
  }
}

/* <===== specialPage =====> */

.container {
  background-image: url(/images/login.jpg);
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  background: hsla(201, 100%, 5%, 0.7);
  width: 40%;
  min-width: 450px;
  max-width: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}
.login-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-image {
  margin: 14px 0 13px 0;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 13px;
}

.input-group input {
  width: 350px;
  color: #ddd;
  padding: 0.3rem 0.5rem;
  font-size: 1.5rem;
  background: hsla(0, 0%, 0%, 0.45);
  border-radius: 5px;
  border: 1px solid hsla(201, 69%, 24%, 0.774);
  outline: 0;
  transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1);
}

.input-group input:focus {
  box-shadow: 0 0 3px 1px hsla(201, 100%, 51%, 0.774);
  transform: scale(1.02);
}
.input-group label {
  font-size: 1.5rem;
  color: #ddd;
  margin-bottom: 7px;
}

.login-btn {
  align-self: center;
  border-radius: 5px;
  padding: 0.3rem 0.5rem;
  font-size: 1.5rem;
  margin: 20px 0 33px 0;
  color: #ddd;
  width: 200px;
  background: hsla(201, 100%, 57%, 0.5);
  border: 1px solid hsla(201, 69%, 24%, 0.774);
  transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1);
}

.login-btn:hover,
.login-btn:active {
  background: hsla(201, 100%, 51%, 0.7);
  transform: scale(1.07);
}
